<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="form-group">
        <label for="email">Email Id : </label>
        <input type="email" formControlName="email" id="email" name="email" aria-required="true"
            placeholder=" Please enter your email">
    </div>
    <div class="form-group">
        <label for="password">Password : </label>
        <input type="password" formControlName="password" id="password" aria-required="true" name="password"
            autocomplete="current-password" placeholder=" Please enter password">
    </div>
    <div class="auth-links">
        <p>
            <a class="link" [routerLink]="['/auth/forgot-password']">Forgot password?</a>
        </p>
        <p>
            Dont have account?
            <a class="link" [routerLink]="['/auth/signup']">Register</a>
        </p>
    </div>
    <div class="form-btn">
        <button type="submit" class="cancel-btn">Cancel</button>
        <button type="submit" class="submit-btn">Submit</button>
    </div>
    <!-- <div class="error-message" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
            <div class="success-message" *ngIf="successMessage">
                {{ successMessage }}
            </div> -->
            <div class="loading-spinner" *ngIf="isLoading">
                <fa-icon [icon]="['fas', 'spinner']"></fa-icon>
            </div> 
            <p>OR</p>
            <!-- 
    <p>Login with</p>
    <div class="user-role">
        <p>Admin</p>
        <input type="radio" name="userRole" [(ngModel)]="selectedValue" value="admin">
        <p>User</p>
        <input type="radio" name="userRole" [(ngModel)]="selectedValue" value="user"> -->
    <div id="google-btn"></div>

</form>